<h1>Eat Da Burger</h1>

{{!-- display burgers that aren't devoured --}}
<div>
    <ul>
        {{!-- for each over burgers from burgers_controller --}}
        {{#each burgers}}
            {{#unless devoured}}
                {{!-- display burger that are not devoured --}}
                <li>
                    {{id}}
	                {{burger_name}}
                    <button class="devour-it" data-id="{{id}}">Devour Da Burger!</button>
                </li>
            {{/unless}}
        {{/each}}
    </ul>
</div>

{{!-- display burgers that are devoured --}}
<div>
    <ul>
        {{!-- for each over burgers from burgers_controller --}}
        {{#each burgers}}
            {{#if devoured}}
                {{!-- display burgers that are devoured --}}
                <li>
                    {{id}}
	                {{burger_name}}
                </li>
            {{/if}}
        {{/each}}
    </ul>
</div>

{{!-- form to add a new burger --}}
<div>
    <form>
        <label for="new-burger">Enter a burger you want to eat</label>
        <input type="text" id="new-burger">
        <button type="submit" id="burger-submit">Add Da Burger!</button>
        <p>Enter a burger you want to </p>
    </form>
</div>
